*
{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
body
{  
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(background\ image.jpg);
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.title
{
    display: block; 
    font-weight: 800;
    font-size: 24px;
    padding: 20px 0; 
}
.title::before
{
    position: absolute;
    content: '';
    width: 30px; 
    height: 3px;
    background-color: black;
}
.container
{
    background-color: #FAF9F6;
    opacity: 0.75;
    border-radius: 10px; 
    padding: 25px;
    width: 500px;
}
.input-fields
{
    display: flex;
    flex-wrap: wrap;
    line-height: 25px;
}
label
{
    display: block;
    font-weight: 500;
}
input
{
    width: calc(100% - 30px);
    box-shadow: 5px 5px 5px rgb(224, 220, 220);
    border: 0.5px solid rgb(150, 145, 145);
    border-radius: 4px;
    height: 25px;
    padding-left: 7px;
}
input:focus
{
    background-color: #EDEFF2;
}
.input
{
    width: 50%;
    margin-top: 10px;
    display: flex; 
    flex-direction: column;
}
button
{
    appearance: none;
    width: calc(100% - 30px);
    background-color: #FAFBFC;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 20px; 
}
button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(0, 0, 0, 0.15);
    color: #959DA5;
    cursor: default;
}
   
button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}

button:before {
    display: none;
}

button:-webkit-details-marker {
    display: none;
}